@model Booking.Models.ViewModel

@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

@if (ViewBag.Aviso != null)
{
    <div class="container" id="quartos">
        <div id="aviso">
            <h3> @ViewBag.Aviso </h3>
            <h5> * Mude o campo 'Quartos' *</h5>
        </div>
    </div>
}

<div class="container" id="quartos">
    @foreach (var item in Model.Quartos)
    {
        <div id="main">
            <div class="col-md-4" id="img">
                <img src="@item.Imagem" id="imgReservas" />
            </div>

            <div class="col-md-8" id="text" style="left: 0%;">

                <div class="col-md-9">
                    <h2>Quarto @item.TipoQuarto </h2>
                    <h4 class="hoteis">@item.NomeHotel - @item.NumEstrelas Estrelas</h4>

                    <p>@item.Morada, @item.Localidade, @item.CodPostal, @item.Pais</p>

                    <br />
                    <p>@item.Capacidade Pessoas</p>
                </div>

                <div class="col-md-3" style="margin: 10% 0% 5% 0%; text-align: right">
                    <h6 id="desde">Desde</h6>
                    <p id="preco">@item.Preco€</p>

                    <a href="@Url.Action("Book", "Home", new {hotel = item.NomeHotel, quarto = item.TipoQuarto, preco = item.Preco, CheckIn = item.CheckIn, CheckOut = item.CheckOut,
                            capacidade = item.Capacidade, regime = item.TipoRegime, morada = item.Morada, localidade = item.Localidade, codPostal = item.CodPostal, pais = item.Pais})" class="btn btn-info" role="button">Reservar</a>
                </div>
            </div>
        </div>

        @foreach (Inventario t in Model.Inv)
        {
            @foreach (Ocupado r in Model.Ocupado)
            {
                @if (item.IdHotel == t.Id && item.IdTipoQuarto == t.IdQuarto && item.IdHotel == r.Idhotel && item.IdTipoQuarto == r.IdtipoQuarto)
                {
                    <div style="margin-bottom: 2%">
                        <table @*class="table"*@  border="1" width="50%" align="center">
                            <tr>
                                <th> Data </th>
                                <th> Inventario </th>
                                <th> Reservados </th>
                                <th> Livres </th>
                            </tr>

                            @foreach (DateTime data in r.Datas)
                            {
                                <tr>
                                    <th>@data.ToShortDateString()</th>
                                    <th>@t.Inv</th>
                                    <th>@r.QuantQuartos</th>
                                    <th>@(t.Inv - r.QuantQuartos)</th>
                                </tr>
                            }

                        </table>
                    </div>
                }
            }
        }
    }
</div>