@model List<Booking.Models.QuartosDisp>
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "View";
}

<h2>@ViewBag.Message</h2>

@foreach (var item in Model)
{
<div class="col-xs-12" id="main">
    <div class="col-xs-4" id="img">
        <img src="@item.Imagem" id="imgReservas"/>
    </div>

    <div class="col-xs-7" id="text" style="left: 0%;">

        <div class="col-sm-7 col-lg-8">
            <h2>@item.NomeHotel @item.NumEstrelas</h2>
            <p>@item.Morada @item.Localidade @item.CodPostal @item.Pais</p>
            <p>
                @item.TipoQuarto
                @item.Capacidade
            </p>
        </div>
        <div class="col-sm-5 col-lg-4">
            <p>Desde</p>
            <p>@item.Preco</p>
            <a href="/Home/Book" class="btn btn-info" role="button">Reservar</a>
        </div>
    </div>
</div>
}